In [2]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'QdNfwAps7vs5RVkksmQU'

In [44]:
# First, import the relevant modules
import requests
import pandas as pd
import collections
import json
import numpy
from pandas.io.json import json_normalize

In [24]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
res = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key='+API_KEY+'&order=asc&start_date=2017-12-28&end_date=2017-12-31')

res.text

'{"dataset":{"id":10095370,"dataset_code":"AFX_X","database_code":"FSE","name":"Carl Zeiss Meditec (AFX_X)","description":"Stock Prices for Carl Zeiss Meditec (2020-03-11) from the Frankfurt Stock Exchange.\\u003cbr\\u003e\\u003cbr\\u003eTrading System: Xetra\\u003cbr\\u003e\\u003cbr\\u003eISIN: DE0005313704","refreshed_at":"2020-03-25T22:19:17.275Z","newest_available_date":"2020-03-25","oldest_available_date":"2000-06-07","column_names":["Date","Open","High","Low","Close","Change","Traded Volume","Turnover","Last Price of the Day","Daily Traded Units","Daily Turnover"],"frequency":"daily","type":"Time Series","premium":false,"limit":null,"transform":null,"column_index":null,"start_date":"2017-12-28","end_date":"2017-12-31","data":[["2017-12-28",51.65,51.82,51.43,51.6,null,40660.0,2099024.0,null,null,null],["2017-12-29",51.76,51.94,51.45,51.76,null,34640.0,1792304.0,null,null,null]],"collapse":null,"order":"asc","database_id":6129}}'

In [25]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data = json.loads(res.text)
data

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (2020-03-11) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2020-03-25T22:19:17.275Z',
  'newest_available_date': '2020-03-25',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2017-12-28',
  'end_date': '2017-12-31',
  'data': [['2017-12-28',
    51.65,
    51.82,
    51.43,
    51.6,
    None,
    40660.0,
    2099024.0,
    None,
    None,
    None],
   ['2017-12-29',
    51.76,
    51.94,
    51.45,
    51.76,
    None,
    34640.0,
    1792304.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': 'asc',
  'database_id': 6129}}

In [17]:
#list of column names
data['dataset']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [23]:
data['dataset']['data'][0]

['2017-01-02',
 34.99,
 35.94,
 34.99,
 35.8,
 None,
 44700.0,
 1590561.0,
 None,
 None,
 None]

In [42]:
keys = data['dataset']['column_names']
opens = data['dataset']['data'][1][1]

keys
opens

51.76

In [30]:
master = dict(zip(keys, ))

{'Date': ['2017-12-28',
  51.65,
  51.82,
  51.43,
  51.6,
  None,
  40660.0,
  2099024.0,
  None,
  None,
  None],
 'Open': ['2017-12-29',
  51.76,
  51.94,
  51.45,
  51.76,
  None,
  34640.0,
  1792304.0,
  None,
  None,
  None]}

In [60]:
json_normalize(data['dataset'], 'column_names')

                        0
0                    Date
1                    Open
2                    High
3                     Low
4                   Close
5                  Change
6           Traded Volume
7                Turnover
8   Last Price of the Day
9      Daily Traded Units
10         Daily Turnover