# SQL Project

# Q1

SELECT name
FROM `Facilities`
WHERE membercost >0

## Q2

SELECT COUNT( name )
FROM `Facilities`
WHERE membercost = 0

## Q3

SELECT facid, name, membercost, monthlymaintenance
FROM `Facilities`
WHERE membercost >0
AND membercost < monthlymaintenance * .20

## Q4

SELECT *
FROM `Facilities`
WHERE facid
BETWEEN 1
AND 5

## Q5

## Q6

SELECT CONCAT( firstname, " ", surname ) AS Name, MAX( joindate )
FROM Members
WHERE memid != 0

## Q7

SELECT DISTINCT CONCAT( name, ' ', firstname, ' ', surname )
FROM Bookings
JOIN Facilities ON Bookings.facid = Facilities.facid
JOIN Members ON Bookings.memid = Members.memid
WHERE Bookings.memid !=0
AND Bookings.facid =0
OR Bookings.facid =1
ORDER BY Members.firstname

## Q8

SELECT name AS facility, CONCAT( Members.firstname, ' ', Members.surname ) AS member,
CASE
WHEN Bookings.memid =0
AND guestcost * slots >30
THEN guestcost * slots
WHEN Bookings.memid !=0
AND membercost * slots >30
THEN membercost * slots
END AS Cost
FROM Bookings
INNER JOIN Facilities ON Bookings.facid = Facilities.facid
INNER JOIN Members ON Bookings.memid = Members.memid
WHERE Bookings.starttime >= '2012-09-14'
AND Bookings.starttime < '2012-09-15'
ORDER BY Cost DESC

## Q9

SELECT member, facility, cost
FROM (
SELECT CONCAT( Members.firstname, ' ', Members.surname ) AS member, Facilities.name AS facility,
CASE
WHEN Members.memid =0
THEN Bookings.slots * Facilities.guestcost
ELSE Bookings.slots * Facilities.membercost
END AS cost
FROM Members
INNER JOIN Bookings ON Members.memid = Bookings.memid
INNER JOIN Facilities ON Bookings.facid = Facilities.facid
WHERE Bookings.starttime >= '2012-09-14'
AND Bookings.starttime < '2012-09-15'
) AS bookings
WHERE cost >30
ORDER BY cost DESC

## Q10

SELECT name, sum(
CASE
WHEN memid =0
THEN slots * guestcost
ELSE slots * membercost
END ) AS revenue
FROM Bookings
INNER JOIN Facilities ON Bookings.facid = Facilities.facid
GROUP BY name
HAVING revenue <1000